main {
    display: flex;
    flex-direction: row;
}

.reference-area {
    display: flex;
    flex-direction: column;
}

.palette {
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 43, 43);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.empty {
    flex: 1;
}

.chatbox {
    margin: 5px;
    margin-bottom: 0;
    background-color: aliceblue;
    border-radius: 5px 5px 0 0;
}

.chat-title {
    margin: 0;
    padding: 5px;
    background-color: rgb(197, 226, 233);
    border-radius: 5px;
}

.send-message-box {
    border-radius: 0 !important;
}

.send-message-form button {
    border-radius: 0;
}

.colorpick {
    display: flex;
    flex-direction: column;
    background-color: rgb(148, 148, 148);
    margin: 5px;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

.colorpick span {
    text-align: center;
}

.color-picker {
    display: flex;
    flex-direction: row;
}

.alpha-selection {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 30px;
    vertical-align: bottom;
}

.alpha-selection label {
    writing-mode: horizontal-tb;
}

.color-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rgb-selection {
    display: flex;
    flex-direction: column;
}

.rgb-value {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

.rgb-value label {
    padding-right: 3px;
}

.general-selection {
    margin: 10px;
}